.available__items__layout__wrapper, .transaction__details__layout__wrapper, .user__layout__wrapper, .my__transactions__wrapper, .passbook__wrapper {
  width: 47vw;
  margin: 16px;
}
.customize__action__button {
  max-height: 40px;
  position: relative;
  top: 10px;
}
.max-width-10-per {
  width: 10% !important;
}
.white__space__no__wrap {
  white-space: nowrap;
}
.cursor__pointer {
  cursor: pointer;
}
.cursor__notallowed {
  cursor: not-allowed;
}
.customize__tooltip {
  background: white;
  color: black !important;
  border: 1px solid grey !important;
}
h2 {
  margin-bottom: 4px !important;
}
