<div class="pick__item__wrapper">
  <mat-card class="customize__card__pick__item">
    <mat-card-title>Pick Item</mat-card-title>
  <mat-card-content>
  <form [formGroup]="pickItemForm" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Pick Item</mat-label>
      <input type="text" matInput formControlName="items" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="setQuantityValidator($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="customize__pick__options">
          {{option.itemName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <span class="component__wrapper">
      <app-increment-decrement [increment]="1" [maxLimit]="pickItemForm.controls['maxQuantity'].value" formControlName="totalQuantity"></app-increment-decrement>
    </span>
  </p>

  <div class="action__wrapper">
      <button mat-stroked-button color="default" [mat-dialog-close]="false">Cancel</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="pickItemForm.controls['totalQuantity'].value<=0">Add picked item</button>
  </div>


  </form>
  </mat-card-content>
  </mat-card>
</div>
