.header {
  text-align: center;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.action__wrapper {
  display: flex;
}
.customize__paginator {
  flex: 0 0 85%;
  display: flex;
}
.customize__user__table {
  max-height: 40vh;
  overflow: auto;
}
::ng-deep .customize__add__money .mat-dialog-container{
  padding: 0;
}
